<form class="row">
    <div class="form-group col-sm-4">
        <label class="control-label">币种</label>
        <input type="text" class="form-control" /> </div>
    <div class="form-group col-sm-4">
        <label class="control-label">碰库标志</label>
        <select class="form-control">
            <option value=""></option>
            <option value="1"></option>
        </select>
    </div>
    <div class="form-group col-sm-12">
        <div class="form-line"></div>
    </div>
    <div class="form-group col-sm-12">
        <table class="table table-bordered">
            <caption>
                <div class="form-inline pull-right">
                    <lebal>选择券别</lebal>
                    <select class="form-control" ng-model="selectedAmount" ng-options="amount as amount.name for amount in amounts"> </select> <a href class="btn btn-success btn-sm" ng-click="addClass()"><i class="fa fa-plus"></i>添加券别</a></div> <span class="fa-pull-left font-2x">
                总金额: <em>30000</em>
            </span> </caption>
            </caption>
            <thead>
                <tr>
                    <th>券别版本</th>
                    <th>完整券张数</th>
                    <th>全额损伤券张数</th>
                    <th>半额损伤券张数</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in classification">
                    <td>
                        <!-- TODO: need to user control data -->
                        <input type="text" disabled ng-model="c.amount.name" class="form-control"> </td>
                    <td>
                        <input type="text" class="form-control" ng-model="c.complete"> </td>
                    <td>
                        <input type="text" class="form-control" ng-model="c.incomplete"> </td>
                    <td>
                        <input type="text" class="form-control" ng-model="c.halfcomplete"> </td>
                    <td><a ng-show="$index>0" href class="btn btn-default btn-xs pull-right" ng-click="delClass($index)">删除</a> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group col-sm-12 margin-top-10">
        <button type="button" class="btn btn-primary"><i class="fa fa-check-circle"></i>提交</button>
        <button type="reset" class="btn btn-default"><i class="fa fa-history"></i>重置</button>
        <button type="button" class="btn btn-default"><i class="fa fa-print"></i>填单打印</button>
    </div>
</form>