<form class="row">
    <div class="form-group col-sm-4">
        <label class="control-label">调剂种类</label>
        <select class="form-control" ng-model="fromType">
            <option value="1">调入</option>
            <option value="2">调出</option>
        </select>
    </div>
    <div class="form-group col-sm-4">
        <label class="control-label">币种</label>
        <select class="form-control">
            <option value="">请选择</option>
            <option value="1">人民币</option>
            <option value="1">吉布提法郎</option>
            <option value="1">美元</option>
        </select>
    </div>
    <div class="form-group col-sm-4">
        <label class="control-label"><em>*</em>调剂金额</label>
        <input type="text" class="form-control" /> </div>
    <div class="form-group col-sm-4">
        <label class="control-label">对方柜员代码</label>
        <input type="text" class="form-control" /> </div>
    <div class="form-group col-sm-4">
        <label class="control-label">对方柜员密码</label>
        <input type="text" class="form-control" /> </div>
    <div class="form-group col-sm-12 margin-top-10">
        <button type="button" class="btn btn-primary"><i class="fa fa-check-circle"></i>提交</button>
        <button type="reset" class="btn btn-default"><i class="fa fa-history"></i>重置</button>
    </div>
</form>