<div class="widget">
  <div class="widget-header bordered-bottom-1 bordered-blueberry"><h3 class="widget-caption">对公客户详情</h3></div>
  <div class="widget-body">
    <form class="form-horizontal">
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">客户名称:</label>
        <div class="col-sm-7">
          <p class="form-control-static">客户名称</p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">客户英文名称:</label>
        <div class="col-sm-7">
          <p class="form-control-static">营业执照</p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">证件类型:</label>
        <div class="col-sm-7">
          <p class="form-control-static">营业执照</p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">证件失效日期:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">国家代码:</label>
        <div class="col-sm-7">
          <p class="form-control-static">86-中国</p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">客户类别:</label>
        <div class="col-sm-7">
          <p class="form-control-static">对公</p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">联系人:</label>
        <div class="col-sm-7">
          <p class="form-control-static">对公</p>
        </div>
      </div>


      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">电话:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>


      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">公司地址:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>


      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">邮编:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">客户服务评级:</label>
        <div class="col-sm-7">
          <p class="form-control-static">普通</p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">产业分类:</label>
        <div class="col-sm-7">
          <p class="form-control-static">第一产业</p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">行业分类:</label>
        <div class="col-sm-7">
          <p class="form-control-static">第一产业</p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">经营范围:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">法人姓名:</label>
        <div class="col-sm-7">
          <p class="form-control-static">第一产业</p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">法人证件类型:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">法人证件号码:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">法人证件失效日期:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">组织机构代码:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">代码证失效日期:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">开户许可证核准号:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">开户许可证失效日:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">基本帐户开户行:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">国税登记证号码:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">国税失效日期:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">地税登记证号码:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">地税失效日期:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">注册资金币种:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">注册资本:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">授权代理人姓名:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">代理人证件类型:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">代理人证件号:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">代理人证件失效日期:</label>
        <div class="col-sm-7">
          <p class="form-control-static"></p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
          <button type="button" class="btn btn-primary">提交</button>
          <button type="button" class="btn btn-default">退出</button>
        </div>
      </div>
    </form>
  </div>
</div>
