<form class="row">
  <!--默认获取-->
  <div class="form-group col-sm-4">
    <label class="control-label">账号 <i class="fa fa-asterisk text-danger"></i></label>
    <input type="text" class="form-control" value="10000000000"/>
  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">户名</label>
    <input type="text" disabled class="form-control" value=""/>
  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">产品名称</label>
    <input type="text" disabled class="form-control" value=""/>
  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">账户状态</label>
    <input type="text" disabled class="form-control" value=""/>
  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">应付原币本金</label>
    <input type="text" disabled class="form-control" value=""/>
  </div>

  <div class="form-group col-sm-4">
    <label class="control-label">应付原币利息</label>
    <input type="text" disabled class="form-control" value=""/>
  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">应缴原币利息税</label>
    <input type="text" disabled class="form-control" value=""/>
  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">税后应付利息</label>
    <input type="text" disabled class="form-control" value=""/>
  </div>

  <div class="form-group col-sm-4">
    <label class="control-label">应付原币本息</label>
    <input type="text" disabled class="form-control"/>
  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">找零本息金额</label>
    <input type="text" disabled class="form-control"/>
  </div>

  <div class="form-group col-sm-4">
    <label class="control-label">应付原币金额</label>
    <input type="text" disabled class="form-control" value=""/>
  </div>
  <div class="form-group col-sm-12 margin-top-10">
      <button type="button" class="btn btn-primary">提交</button>
      <button type="reset" class="btn btn-default">重置</button>
  </div>
</form>
