<form class="row">

  <div class="form-group col-sm-4">
    <label class="control-label">账号 <i class="fa fa-asterisk text-danger"></i></label>
    <input type="text" class="form-control" value="10000000000" />
  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">账户性质 <i class="fa fa-asterisk text-danger"></i></label>
    <select class="form-control">
      <option value="">对公活期</option>
      <option value="1">内部账户</option>
    </select>
  </div>

  <div class="form-group col-sm-4">
    <label class="control-label">户名</label>
    <input type="text" disabled class="form-control" value="" />
  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">出售凭证种类 <i class="fa fa-asterisk text-danger"></i></label>
    <select class="form-control">
      <option value="">现金支票</option>
      <option value="1">转账支票</option>
      <option value="2">商业承兑汇票</option>
    </select>
  </div>


  <div class="form-group col-sm-4">
    <label class="control-label">开始号码 <i class="fa fa-asterisk text-danger"></i></label>
    <input type="text" class="form-control" />
  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">结束号码 <i class="fa fa-asterisk text-danger"></i></label>
    <input type="text" class="form-control" />
  </div>

  <div class="form-group col-sm-4">
    <label class="control-label">批次 <i class="fa fa-asterisk text-danger"></i></label>
    <input type="text" class="form-control"  />
  </div>

  <div class="form-group col-sm-4">
    <label class="control-label">数量 <i class="fa fa-asterisk text-danger"></i></label>

    <input type="text" class="form-control"  />

  </div>
  <div class="form-group col-sm-4">
    <label class="control-label">计费数量 <i class="fa fa-asterisk text-danger"></i></label>

    <input type="text" class="form-control"  />

  </div>

  <div class="form-group col-sm-4">
    <label class="control-label">是否收费 <i class="fa fa-asterisk text-danger"></i></label>

    <select class="form-control" ng-model="isFee">
      <option value="">是</option>
      <option value="1">否</option>
    </select>

  </div>
  <div class="form-group col-sm-4" ng-hide="isFee==1">
    <label class="control-label">收费金额 <i class="fa fa-asterisk text-danger"></i></label>

    <input type="text" class="form-control"  />

  </div>

  <div class="form-group col-sm-12">
    <button type="button" class="btn btn-primary">提交</button>
    <button type="reset" class="btn btn-default">重置</button>
  </div>
  </div>




  <!--默认获取-->
  <table class="table table-bordered table-hover">
    <caption>出售凭证信息</caption>
    <thead>
    <tr>
      <td>凭证类型</td><td>开始号码</td><td>结束号码</td><td>数量</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>现金支票</td><td></td><td></td><td>20</td>
    </tr>
    </tbody>
  </table>


</form>
